body {
    margin: 0;
}

.wrapper {
    padding: 50px;
    width: 700px;
    height: 500px;
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 15px;
    justify-items: center;
    align-items: center;
}

.item {
    width: 100%;
    height: 100px;
    background-color: brown;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}