body {
    margin: 0;
    font-family: sans-serif;
    background-color: antiquewhite;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

footer{
    background-color: #fff;
    height: 50px;
    background-image: url('../img/footer.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.banner{
    height: 600px;
    background-color: #fff;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: antiquewhite;
    text-shadow: 0 0 15px #000;
    border-radius: 15px;
}

.info{
    background-color: antiquewhite;
    padding: 30px;
}

.card{
    background-color: #fff;
    width: 30%;
    text-align: center;
    padding: 10px 4px;
    border-radius: 15px;
}

.container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex: 1;
}

.btn {
    padding: 5px;
    background-color: violet;
    text-align: center;
    border-radius: 5px;
}