body {
    margin: 0;
    font-family: sans-serif;
}

.box {
    background-color: black;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    align-items: center;
}

.item {
    color: red;
    padding: 10px;
    border: 1px solid red;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.5s ease;
}

.item:hover{
    transform: scale(1.5);
    background-color: red;
    border: 1px solid red;
    color: #000;
}